
.footerwrapper{
    justify-self: end;
    margin-top: 10px;
    color: rgb(219, 219, 219);
    font-weight: 550;
    letter-spacing:.9px;
    font-size: 1.2rem;
    
    div{
        padding: 10px;
    }

    .rights{
       
    }


}

@media screen and (max-width: 1000px) {
    .footerwrapper{
        font-size: 1rem;
    }
  }